//! **************************************************************************
// Written by: Map P.20131013 on Wed Jan 09 23:38:56 2019
//! **************************************************************************

SCHEMATIC START;
COMP "btn<0>" LOCATE = SITE "C4" LEVEL 1;
COMP "btn<1>" LOCATE = SITE "B8" LEVEL 1;
COMP "btn<2>" LOCATE = SITE "D9" LEVEL 1;
COMP "clk" LOCATE = SITE "V10" LEVEL 1;
COMP "btn<3>" LOCATE = SITE "A8" LEVEL 1;
COMP "err" LOCATE = SITE "V16" LEVEL 1;
COMP "reset" LOCATE = SITE "C9" LEVEL 1;
COMP "sor" LOCATE = SITE "U16" LEVEL 1;
SCHEMATIC END;

